* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header {
    display: flex;
    gap: 100px;
    height: 80px;
    align-items: center;
}
.nav {
    flex: 4;
}
.burger-menu {
    display: none;
}
.nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.nav > ul > a {
    text-decoration: none;
    list-style-type: none;
    color: #495e57;
    font-weight: 500;
}
.nav > ul > a:hover {
    color: #f4CE14;
}
header div {
    flex:1;
    margin: 10px 100px;
    width: 180px;
    height: 45px;
}
.logo {
    width: 200px;
    height: 50px;
}

@media (max-width: 900px) {
    .nav {
        display: none;
    }
    .nav.is-open {
        display: block;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background-color:#f4cf14dc;
        z-index: 10;
        padding: 20px;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
    }
    .nav.is-open > ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .burger-menu {
        display: block;
        color:#333333;
        background-color: transparent;
        border: 0;
        font-size: 30px;
        padding: 20px;
    }
    .burger-menu.close {
        font-size: 30px;
        color: #333333;
        cursor: pointer;
    }
    .nav > ul > a {
        font-weight: 700;
        color: #3e4140;
        font-size: 24px;
    }
    .nav > ul > a:hover {
        color:yellow;
    }

}
@media (max-width: 550px) {
    header div {
        margin-left: 3vh;
        width: 50px;
        height: 45px;
    }
    header {
        display: flex;
        gap: 0;
        height: 80px;
        align-items: center;
    }
    .logo {
        width: 80%;
    }
}



.hero-section {
    display: flex;
    align-items: center;
    background-color: #495e57;
    padding: 40px;
}
.hero-section section {
    flex: 3;
    padding: 40px
}
.hero-section section h1 {
    font-size: 4.6rem;
    color: #f4CE14;
    margin-bottom: 10px;
}
.hero-section section h3 {
    font-size: 2.6rem;
    color: white;
    margin-bottom: 60px;
}
.hero-section section p {
    color: #edefee;
    font-size: 1.6rem;
    margin-bottom: 40px;
}
.hero-section section button {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 10px 18px;
    background-color:#f4CE14;
    color: #333333;
    border: 0;
}

.hero-section aside {
    flex: 2;
    margin-right: 5vh;
}
.hero-section img {
    width: 80%;
    border-radius: 79% 21% 69% 31% / 34% 67% 33% 66%;
}


@media (max-width: 700px) {
    .hero-section img {
        width: 120%;
    }
}
@media (max-width: 550px) {
    .hero-section img {
        width: 150%;
    }
}


.highlights {
    display: flex;
    flex-direction: column;
}
.specials-btn {
    display: flex;
    gap: 20px;
    align-items: center;
}
.specials-btn h1 {
    color:#333333;
    padding: 20px 60px;
    flex: 4;
}
.specials-btn-container {
    flex: 1;
}
.specials-btn-container button {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 18px;
    background-color:#f4CE14;
    color: #333333;
    border-radius: 4px;
    border: 0;
    padding: 10px;
    width: auto;
    padding: 10px 14px;
}

.card-container {
    display: flex;
    gap: 20px;
    padding: 20px 100px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #495e57;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
}
.card div {
    display: flex;
    justify-content: space-between;
}
.card-description {
    color: #edefee;
    height: 110px;
    padding: 20px;
}
.card button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 15px;
    background-color:#f4CE14;
    color: #333333;
    border-radius: 4px;
    border: 0;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 14px;
    margin-bottom: 20px;
}
.card button img {
    width: 40px;
    height: 30px;
}
.card button:hover, .specials-btn-container button:hover, .hero-section section button:hover, .carousel-btn-container button:hover, .form-submit:hover {
    cursor: pointer;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.4);
    background-color: #1a1919;
    color: #f4CE14;
}
.card img {
    width: 100%;
    height: 300px;
}
.card-title, .card-price {
    padding: 10px 20px;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
}
.card-price {
    color: #f4CE14;
}


@media (max-width: 900px) {
    .card-container {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 550px) {
    .card-container {
        display: flex;
        flex-direction: column;
    }
}




.testimonial {
    margin-top: 10vh;
    background-color:#edefee;
    color: #495e57;
    text-align: center;
    padding: 40px;
}
.testimonial h1 {
    color: #333333;
    font-size: 2.8rem;
    font-family: 'Times New Roman', Times, serif;
}

.testimonial-rating {
    font-size: 1.4rem;
    color: #333333;
    font-weight: 800;
    height: 20%;
    width: 60%;
}
.testimonial-name {
    font-size: 1.2rem;
    color: #333333;
    font-weight: 800;
    margin-top: 6px;
    padding: 2px 20px;
    height: 20%;
    width: 60%;
}
.testimonial-review {
    font-weight: 500;
    height: 20%;
    width: 80%;
}
.testimonial-occupancy {
    padding: 0px 20px;
    font-weight: 500;
}
.testimonial-rating, .testimonial-review {
    padding: 10px 20px;
}
.stars {
    color:#f4CE14;
}



.testimonial-card-container {
    padding: 40px;
    gap: 60px;
}

.testimonial-card {
    display: flex;  
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: start;
}
.testimonial-card img {
    width: 50%;
    height: 50%;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.4);
}
.carousel-btn-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.carousel-btn-container button {
    padding: 10px 20px;
    width: 130px;
    color: #333333;
    background-color: #f4CE14;
    border: 0;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 600;
}




.About-us-section {
    display: flex;
    background-color: #495e57;
    align-items: center;
    height: 90vh;
    padding: 80px;
}
.About-us-section div {
    flex: 1;
}
.About-us-section div > h1 {
    font-size: 3rem;
    color: #f4CE14;
    padding: 0 15px;
}
.About-us-section div > h3 {
    color: white;
    font-size: 1.8rem;
    padding: 10px 15px;
}
.About-us-section div p {
    color: #edefee;
    font-size: 1.2rem;
    padding: 15px;
    text-align: justify;
}
.about-us-img-container {
    margin-right: 100px;
    position: relative;
    padding: 60px;
    flex: 1.2;
}
.about-us-img2 {
    position: absolute;
    bottom: 90px;
    left: 400px;
    width: 500px;
    box-shadow:  0 2px 40px rgba(0, 0, 0, 0.4);
}
.about-us-img1 {
    position: absolute;
    bottom: -200px;
    width: 500px;
    box-shadow:  0 2px 40px rgba(0, 0, 0, 0.4);
}


@media (max-width: 900px) {
    .About-us-section {
        display: grid;
        grid-template-rows: 1fr aauto;
        height: auto;
    }
    .about-us-img-container {
        margin: 0;
        height: 500px;
    }
    .about-us-img2 {
        box-shadow:  0 2px 40px rgba(0, 0, 0, 0.4);
        width: 60%;
        left: 180px;
        top: 0;

    }
    .about-us-img1 {
        box-shadow:  0 2px 40px rgba(0, 0, 0, 0.4);
        width: 60%;
        top: 270px;
        left: 10px;
    }
}





footer {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;    
    padding: 10px 0px;
}
footer p {
    font-weight: bold;
    padding: 20px;
    color: #495e57;
}
footer ul > li {
    padding: 3px 20px;
    text-decoration: none;
    list-style-type: none;
    color: #495e57;
    font-weight: 500;
}
footer ul > li:hover {
    color: #f4CE14;
    cursor: pointer;
}
.footer-img {
    width: 70%;
}
.footer-img-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

footer ul > a {
    text-decoration: none;
    list-style-type: none;
    color: #495e57;
    font-weight: 500;
}
footer ul > a > li {
    padding: 3px 20px;
}
footer ul > a:hover {
    color: #f4CE14;
    cursor: pointer;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #495e57;
    flex-direction: column;
    padding: 50px;
    color: #edefee;
}
.form-section > h1 {
    color: #f4CE14;
    margin: 10px 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}
.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    font-size: 1.8rem;
    padding: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.form-date, .form-time, .form-guests, .form-occasion, .form-notes, .form-submit {
    padding: 10px 40px;
    margin: 0 20px;
    font-weight: 900;
    background-color: #edefee;
    color: #495e57;
    border: 0;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    margin: 5px 10px 15px 10px;
}
.form-notes {
    padding: 50px;
}
.form-notes-container {
    grid-column: 1 / span 2;
}
.form-submit {
    padding: 10px 20px;
    width: 130px;
    color: #333333;
    background-color: #f4CE14;
    border: 0;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 auto;
    grid-column: 1 / span 2;
}
.form-notes-container,.date-container, .time-container, .guests-container, .occasion-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
}

.bookings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 40px;
    width: 100%;
}
.bookings h1 {
    color: #f4CE14;
    font-family:'Times New Roman', Times, serif;
    font-size: 2.4rem;
}
.form-bookings-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    gap: 40px;
}
.form-bookings {
    padding: 20px;
    border-radius: 5px;
    background-color: #edefee;
    color: #495e57;
}
